body {
	font-family: 'Roboto', sans-serif;
	background: #2BC0E4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav{
	opacity: 0.6;
}

#container{
	
	width: 400px;
	margin: 100px auto;
	box-shadow: 0 0 3px  rgba(0,0,0,0.1);
	background: #f7f7f7;
}

hr {
  height: 10px;
  width: 50%;
  opacity: 0.5;
}